* {
    text-align: center;
    line-height: 2;
}

body {
    background-color: thistle;
}

h1 {
    background-color: navajowhite;
    width: fit-content;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 1%;
    padding: 0 2%;
}

button {
    border-radius: 24px;
}